.leftside__contaienr .art_card {
  text-align: center;
  overflow: hidden;
  margin-bottom: 8px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  position: relative;
  order: none;
  box-shadow: 0 0 0 1px rgba(0 0 0 /15%), 0 0 0 rgba(0 0 0 /20%);
}

.user_info {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 12px 12px 16px;
  word-wrap: break-word;
  word-break: break-word;
}
.background {
  background-position: center center;
  background-size: 462px;
  height: 54px;
  margin: -12px -12px 0;
}
.photo {
  box-shadow: none;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-color: white;
  background-position: center;
  background-size: cover;
  border: 2px solid white;
  margin: -30px auto 12px;
  border-radius: 50%;
}

.link {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
}
.add_photo_text {
  color: #0a66c2;
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 400;
}
.widget {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  margin: 0 5px;
}
.widget div {
  padding: 4px 12px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.widget div span {
  line-height: 1.333;
  font-size: 12px;
}

.widget div span:nth-of-type(1) {
  color: rgba(0, 0, 0, 0.6);
}
.widget div span:nth-of-type(2) {
  color: rgba(0, 0, 0, 1);
}

.widget:hover {
  background-color: rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.widget .widgetIcon {
  padding-right: 5px;
}
.item {
  border-color: rgba(0, 0, 0, 0.8);
  text-align: left;
  padding: 2px 15px;
  font-size: 12px;
  display: block;
  transition: all 0.2s ease-in-out;
}
.item span {
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.item > span {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 1);
  padding: 5px;
}
.item span:hover {
  background-color: rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.community_card {
  padding: 8px 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0 0 0 /15%), 0 0 0 rgba(0 0 0 /20%);
}
.community_card > span {
  color: black;
  padding: 4px 12px;
  line-height: 1.333;
  font-size: 12px;
  border-radius: 5px;
  margin: 0px 5px 2px 5px;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
}

.community_card > span:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.community_card > span:nth-of-type(2) img {
  width: 15px;
}
.community_card > span:nth-of-type(4) {
  opacity: 0.6 !important;
  padding: 10px;
  border-top: 1px solid lightgray;
}
.community_card > span:hover {
  cursor: pointer;
  color: #0a66c2;
}
.community_card > span:nth-of-type(4):hover {
  background-color: rgba(0, 0, 0, 0.08) !important;
  color: black;
  opacity: 1 !important;
}
